<%= flash[:message] %>

<div>
<h1>Welcome to Rate My Hair Stylist!</h1>
</div>


<h2>Rate and review all of your barbers or hair stylists. Use those rate to find the best stylists!</h2>

<br><br>
<p> <%= link_to " 💥 Sign Up", new_user_path %>, or <%= link_to " 💥 Log In", login_path %> to join the millions of people already using <i>Rate My HairStylist</i>. </p>
<br>
