<h1>Stylists#show</h1>

<ul>
<li>
    <p>
    Name : <%= @stylist.name %><br>     
    Phone : <%= @stylist.phone %><br>
    Shop : <%= @stylist.shop_name %><br>
    Address : <%= @stylist.address %>
    </p>
</li>
<ul>


