<h1>Edit this Review </h1>
<%= render 'form' %> 
<%= button_to "DELETE this review", @user_stylist, :class => "button", method: :delete %>


    <!-- or ­Ъци <%= link_to "DELETE this review", @user_stylist, method: :delete %> ­Ъци</p> -->
    