/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div{
    width: auto;
    margin: auto;
    margin-bottom: 1;
    border: 3px;
  }

 textarea {
    /* margin-bottom: 2em; */
    width: 100%;
    max-width: 500px;
    height: 50px;
    resize: none;
    /* margin-left: 10px; */
 }
 h1{
    font-size:30px;
    font-weight: bold;
    /* font-family: fantasy; */
    color: darkgoldenrod;
    text-align: left;
    margin-bottom: 0.67em;
 }

h2{
    /* font-size:30px; */
    /* font-weight: bold; */
    /* font-family: fantasy; */
    /* color: darkgoldenrod; */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    text-align: left;
}


label {
    display: block;
    /* width: 150px; */
    text-align: left;
    /* margin-left: 10px; */
  }


/* input { */
    /* margin-left: 10px; */

  /* } */


/* select { */
    /* margin-left: 10px; */

  /* } */


/* ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: auto;
    margin: auto;
} */

ul.split {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }

ul li {
    background: rgb(253, 238, 199);;
    margin: 20px;
    /* width: 28%; */

    /* float:left; */
}



ul.a {
    background-size: auto;
    list-style-type: square;
}


ol {
    background: rgb(253, 238, 199);
    background-size: auto;
  }



  .button {
    /* background-color: #4CAF50; */
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    /* margin: 3px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: darkgoldenrod; 
    border: 2px solid darkgoldenrod;
  }
  
  .button:hover {
    background-color: darkgoldenrod;
    color: white;
  }