<ul>

<% if !logged_in? %>

    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Log In",  login_path    %></li>

<% else %>

    <h2> ✨🙌 Hey, <%= current_user.username.upcase %>! 🙌✨</h2>
    <li><%= link_to "Log Out", logout_path,  method: :delete %></li>
    
<% end %>

</ul>


<br><br>


----------------------------------------------------------------------------------------------------------------

<br><br>